<div id="newCustUxChatLinkContainer" class="c2e-popover-closed">
  <button id="c2e_anchor" (click)="showHide = !showHide">
        <mat-icon *ngIf= "!showHide"> chat</mat-icon>
        <mat-icon *ngIf= "showHide"> close</mat-icon>
  </button>  
</div>
<app-chat-model *ngIf= "showHide" ></app-chat-model>
