#newCustUxChatLinkContainer {
    border-radius: 50px;
    box-shadow: 0 3px 14px #d3d3d3;
    display: block;
    position: fixed;
    bottom: 15px;
    right: 15px;
    transition: all .5s;
    z-index: 99999991;
    outline: 0
}
button#c2e_anchor {
    background-color: #2477bf;
    border: 2px solid #fff;
    border-radius: 50px;
    height: 52px;
    padding: 0;
    color: #fff;
    width: 52px;
    outline: 0;
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    float: none;
    vertical-align: middle;
}

button#c2e_anchor:hover {
    background-color: #68b5e4
}


