.example-card {
  font-family: "HCo Gotham","HCo Gotham EW",arial,sans-serif;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 14px #d3d3d3;
  height: auto;
  min-height: 465px;
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 400px;
  z-index: 99999991;
  transition: all .5s;
  transform-origin: bottom right;
  }
  ::ng-deep.mat-tab-link,  ::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
    min-width: 90px!important;
  }

  .example-tab-icon {
    margin-right: 8px;
  }
  
  