<mat-card class="example-card">
  <mat-card-content>
        <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">chat</mat-icon>
            Chat
          </ng-template>
          <app-integration-panel ></app-integration-panel>
        </mat-tab>
      
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">help_outline</mat-icon>
            FAQ
          </ng-template>
          <div>
          <iframe id="faqs" class="c2e-popover-iframe" height="400px" src="https://support.pl--tst.thehartford.com/app/home_ew/a_status/published/categoryRecordID/RN_CATEGORY_501/channelRecordID/FAQ/currentSelectedID/RN_CATEGORY_501/isCategorySelected/true/isProductSelected/true/productRecordID/RN_PRODUCT_369" width="100%" frameborder="0"></iframe>
        </div>
        </mat-tab>
      
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">phone_in_talk</mat-icon>
            Contact Us
          </ng-template>
        <div>
          <iframe id="contactUs" class="c2e-popover-iframe" src="https://support.pl--tst.thehartford.com/app/answers/answer_view_cs/a_id/1000191" width="100%" height="400px" frameborder="0"></iframe>
        </div>
        </mat-tab>
      </mat-tab-group>
  </mat-card-content>
</mat-card>
