<mat-form-field>
  <mat-label>Select an option</mat-label>
  <mat-select [(value)]="selected" (selectionChange)="panelChangeClick()">
    <mat-option>None</mat-option>
    <mat-option value="info">Info panel</mat-option>
    <mat-option value="wait">waiting for chat</mat-option>
    <mat-option value="load">Loading</mat-option>
    <mat-option value="chat">chat model</mat-option>
  </mat-select>
</mat-form-field>

<p>You selected: {{ selected }}</p>
