<div>
  <button mat-button color="primary" class="close-chat">Close Chat</button>
  <div class="chat-transcript-panel">
    <div class="separate-bubble" *ngFor="let chat of chatTranscript">
      <div
        class="agent-bubble-class"
        [ngClass]="chat.userAgent ? 'agent-bubble-class' : 'user-bubble-class'"
      >
        {{ chat.text }}
      </div>
    </div>
  </div>
  <div>
    <mat-form-field>
      <input matInput />
      <button mat-button matSuffix>
        Send
      </button>
    </mat-form-field>
  </div>
</div>
