mat-form-field.mat-form-field {
  width: 100%;
}
::ng-deep.mat-form-field-flex {
  padding: 0;
}
.close-chat {
  float: right;
}
.chat-transcript-panel {
  width: 100%;
  height: 340px;
  background-color: #fff;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.agent-bubble-class {
  padding: 10px;
  background: #bcd6e8;
  max-width: 80%;
  border-radius: 10px;
  margin: 8px;
  color: #3a5a78;
  text-align: left;
}
.user-bubble-class {
  padding: 10px;
  background: #f2f2f2;
  max-width: 80%;
  border-radius: 10px;
  margin: 8px;
  color: #3a5a78;
  text-align: right;
  float: right;
}
.separate-bubble {
    display: flow-root;
}