.example-form {
  padding-top:2rem ;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.red-astrix {
  color: red !important;
}

.close-chat {
  float: right;
}