<form class="example-form" [formGroup]="profileForm" (ngSubmit)="submitRequest()">
    <mat-form-field class="example-full-width">
        <mat-label>How can we help you today? <span class="red-astrix">*</span></mat-label>
        <input matInput formControlName="question" [errorStateMatcher]="matcher"/>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>First name <span class="red-astrix">*</span></mat-label>
        <input matInput formControlName="firstName" [errorStateMatcher]="matcher"/>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Last name <span class="red-astrix">*</span></mat-label>
        <input matInput formControlName="lastName" [errorStateMatcher]="matcher"/>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Email Address <span class="red-astrix">*</span></mat-label>
        <input matInput formControlName="email" [errorStateMatcher]="matcher">        
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="!profileForm.valid">Submit</button>
      <button mat-button color="primary" class="close-chat">Close Chat</button>
</form>
