.spinner-page {
    height: 400px;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
    float: none;
}
.spinner {
    vertical-align: middle;
    justify-content: center;
    display: flex;
    flex-direction: column;
}