<div class="spinner-page">
  <div class="spinner">
    <mat-progress-spinner
      class="example-margin"
      [color]="color"
      [mode]="mode"
      [value]="value"
      [diameter]="diameter"
    >
    </mat-progress-spinner>
  </div>
</div>
