<app-info-panel *ngIf="status == 'info'"></app-info-panel>
<app-load-spinner *ngIf="status == 'load'"></app-load-spinner>
<app-waiting-to-connect *ngIf="status == 'wait'"></app-waiting-to-connect>
<app-chat-panel *ngIf="status == 'chat'"></app-chat-panel>