/* You can add global styles to this file, and also import other style files */
$icon-font-path: 'https://s0.hfdstatic.com/sites/higux/dist/fonts/bootstrap/';
$fa-font-path: 'https://s0.hfdstatic.com/sites/higux/dist/fonts' !default;
$theme-font-path: 'https://s0.hfdstatic.com/sites/higux/dist/fonts';
//@import '/styles/higux-import.scss';


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$c2e-clickToEngage-primary: mat-palette($mat-indigo);
$c2e-clickToEngage-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$c2e-clickToEngage-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$c2e-clickToEngage-theme: mat-light-theme(
  $c2e-clickToEngage-primary,
  $c2e-clickToEngage-accent,
  $c2e-clickToEngage-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($c2e-clickToEngage-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-tab-label-container {
  .mat-tab-label {
    min-width: 90px !important;
  }
}

.mat-form-field {
  .mat-form-field-flex {
    padding: 0 !important;
  }
}
