.cancel-chat {
    float: right;
}
.text-hold {
    text-align: center;
    color: #2477bf!important;
}
.user-icon {
    width: auto;
    font-size: 7rem;
}
.message-connect {
    font-size: 18px;
    font-weight: bold;
}