<div>
  <button mat-button color="primary" class="cancel-chat">Cancel</button>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  <div class="text-hold">
    <div>
      <mat-icon width="auto" font-size="7rem" class="user-icon"> supervisor_account</mat-icon>
    </div>
    <div class="message-connect">
      Connecting you. <br />
      We'll be with you soon.
    </div>
    <div>You are #{{ queueNumber }} in the queue</div>
  </div>
</div>
